.container {
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: goldenrod;
}

h2 {
  font-size: 50px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
}

p {
  color: red;
  font-weight: bold;
}
